<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<style>
	h1 {text-align: center;}
	h4 {text-align: center;}
	div {text-align: center;}
	select {text-align: center;}
	input {text-align: center;}
	</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Cadastrar Empresa</title>
</head>
<body>
	<form class="formulario" th:action="@{/save}" th:object=${empresas}
		method="POST">
		<h4>Cadastre a nova Empresa abaixo:</h4><br>
		<div class="container">
			<div class="row">
			  <div class="col">
			  </div>
			  <div class="col">
				<div class="container-sm">
					<label>Nome da empresa:</label> <input class="form-control" th:field="*{nomeDaEmpresa}"
					type="text" placeholder="Digite o nome da empresa" required><br>
				</div>
			  </div>
			  <div class="col">
			  </div>
			</div>
		</div>


		<div class="container">
			<div class="row">
			  <div class="col">
			  </div>
			  <div class="col">
				<div class="container-sm">
					<label>Data de Fundação:</label> <input class="form-control" th:field="*{dataDeFundacao}"
					type="date" required><br>
				</div>
			  </div>
			  <div class="col">
			  </div>
			</div>
		  </div>


		<div class="container">
			<div class="row">
			  <div class="col">
			  </div>
			  <div class="col">
				<div class="container-sm">
						<label>Número de funcionários:</label> <input class="form-control"
							th:field="*{numeroDeFuncionarios}" type="number" min="1" max="10000"
							placeholder="Número de funcionários"><br>
				</div>
			  </div>
			  <div class="col">
			  </div>
			</div>
		  </div>


		<div class="container">
			<div class="row">
			  <div class="col">
			  </div>
			  <div class="col">
				<div class="container-sm">
					<label>Região do Brasil:</label> <select class="form-select" th:field="*{regiaoBrasil}">
						<option value="Norte">Norte</option>
						<option value="Nordeste">Nordeste</option>
						<option value="Centro-Oeste">Centro-Oeste</option>
						<option value="Sudeste">Sudeste</option>
						<option value="Sul">Sul</option>
					</select><br>
				</div>
			  </div>
			  <div class="col">
			  </div>
			</div>
		  </div>


		<div class="container">
			<div class="row">
			  <div class="col">
			  </div>
			  <div class="col">
				<div class="container-sm">
					<label >Setor de Atuação: </label><select class="form-select" th:field="*{setorAtuacao}">
						<option value="Industrial">Industrial</option>
						<option value="Varejo">Varejo</option>
						<option value="Serviços">Serviços</option>
						<option value="Agrícola">Agrícola</option>
					</select><br>
					<input class="btn btn-secondary" type="submit" value="Cadastrar">
					<a class="btn btn-primary" type="button" th:href="@{/listar}">Voltar</a>
				</div>
			  </div>
			  <div class="col">
			  </div>
			</div>
		  </div>

	</form>
</body>
</html>