<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
h1 {text-align: center;}
div {text-align: center;}
</style>


<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<title>Cadastro Empresas</title>
</head>
<body>
	<div class="w-auto p-3">
	<h1>Consulta Empresas</h1>
		<table class="table" style="height: 10px;">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nome da empresa</th>
					<th scope="col">Data de fundação</th>
					<th scope="col">Número de funcionários</th>
					<th scope="col">Região do brasil</th>
					<th scope="col">Setor de atuação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="empresa:${empresas}">
					<td th:text="${empresa.id}"></td>
					<td th:text="${empresa.nome}"></td>
					<td th:text="${empresa.dataFundacao}"></td>
					<td th:text="${empresa.numeroFuncionarios}"></td>
					<td th:text="${empresa.regiaoBrasil}"></td>
					<td th:text="${empresa.setorAtuacao}"></td>
					<td>
					<a class="btn btn-warning" th:href="@{/editar/}+${empresa.id}" type="submit">Editar</a>
					<a class="btn btn-danger" th:href="@{/delete/}+${empresa.id}" type="submit">Excluir</a></td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary" role="button" type="button" th:href="@{/novo}">Cadastrar Nova Empresa</a>
		<a class="btn btn-primary" role="button" type="button" th:href="@{/listar}">Listar todas as Empresas</a>
		<a class="btn btn-primary" role="button" type="button" th:href="@{/listarEmpresaMaisAntiga}">Listar Empresa Mais Antiga</a>
		<a class="btn btn-primary" role="button" type="button" th:href="@{/listarRegiaoMaisIndustrial}">Listar Numero total todas as empresas</a> 
	<!-- 	<a class="btn btn-primary" role="button" type="button" th:href="@{/listarRegiaoComMaisFuncionarios}">Listar Região com maior numero de funcionarios</a> -->
	</div>
</body>
</html>